# Server environment variables
PORT=4000
JWT_SECRET=your_very_secret_key

# In production, you might use a real database connection string etc.

# Stripe secret key used for card payments
# STRIPE_SECRET=sk_test_...
